@font-face{
    font-family: Abril;
    src: url(/text/AbrilFatface-Regular.ttf);
}
@font-face{
    font-family: Yeseva;
    src: url(/text/YesevaOne-Regular.ttf);
}
@font-face{
    font-family: Raleway;
    src: url(/text/Raleway/Raleway-VariableFont_wght.ttf);
}